resource "ibm_is_instance" "{{ workshop_shortcode }}_{{ guid }}_pb_vsi" {
  depends_on = [ ibm_is_security_group.{{ workshop_shortcode }}_{{ guid }}_proctor_sg ]
  name    = "{{ workshop_shortcode }}-{{ guid }}-pb-vsi"
  image   = "{{ image_dict[proctor_bastion_vsi_image] }}"
  profile = "{{ proctor_bastion_vsi_profile }}"

  primary_network_interface {
    subnet = ibm_is_subnet.{{ workshop_shortcode }}_{{ guid }}_subnet.id
    security_groups = [ibm_is_security_group.{{ workshop_shortcode }}_{{ guid }}_proctor_sg.id]
  }

  vpc  = ibm_is_vpc.{{ workshop_shortcode }}_{{ guid }}_vpc.id
  zone = "{{ regional_zone }}"
  keys = [ibm_is_ssh_key.{{ workshop_shortcode }}_{{ guid }}_ssh_key.id]
  tags = [ "assetID:pb-vsi", "assetType:vsi", "guid:{{ guid }}", "workshop:{{ workshop_id }}" ]

  boot_volume {
    name = "{{ workshop_shortcode }}-{{ guid }}-pb-bootvol"
  }

  user_data = "${file("./cloud_inits/proctor_bastion.yaml")}"
}
resource "ibm_is_floating_ip" "{{ workshop_shortcode }}_{{ guid }}_pb_fip" {
  depends_on = [ ibm_is_instance.{{ workshop_shortcode }}_{{ guid }}_pb_vsi ]
  name       = "{{ workshop_shortcode }}-{{ guid }}-pb-fip"
  target     = ibm_is_instance.{{ workshop_shortcode }}_{{ guid }}_pb_vsi.primary_network_interface[0].id
  tags       = [ "assetID:pb-fip", "assetType:fip", "guid:{{ guid }}", "workshop:{{ workshop_id }}" ]
}