apiVersion: v1
baseDomain: {{ installConfig_baseDomain }}
compute:
- hyperthreading: Enabled
  name: worker
  replicas: 0
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: {{ installConfig_controlPlaneCount }}
metadata:
  name: {{ installConfig_name }}
networking:
  clusterNetwork:
  - cidr: 10.192.0.0/14
    hostPrefix: 23
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
platform:
  none: {}
fips: false
pullSecret: '{{ installConfig_pullSecret | to_json }}'
sshKey: '{{ installConfig_sshKey }}'