#cloud-config
users:
  - name: {{ proctor_username }}
    gecos: Workshop Proctor
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: wheel
    ssh_import_id: None
    lock_passwd: false
    passwd: {{ generated_proctor_password_hash.stdout }}
    ssh_authorized_keys:
        - {{ new_ssh_key_pair.public_key }}
runcmd:
  - dnf update -y
  - dnf install -y {% for pkg in base_install_packages %}{{ pkg }} {% endfor %} git