#############################################################################
## Generate new cluster SSH Keys

resource "ibm_is_ssh_key" "{{ workshop_shortcode }}_{{ guid }}_ssh_key" {
  name       = "{{ workshop_shortcode }}-{{ guid }}-ssh-key"
  public_key = file("{{ generation_directory }}/id_ssh_rsa.pub")
  tags       = [ "assetID:ssh-key", "assetType:ssh-key", "guid:{{ guid }}", "workshop:{{ workshop_id }}" ]
}