[all:children]
tower
nodes
db
container

[tower]
student{{ student_num }}-tower

[nodes]
student{{ student_num }}-node1
student{{ student_num }}-node2
student{{ student_num }}-node3

[web]
student{{ student_num }}-node1

[db]
student{{ student_num }}-node2

[container]
student{{ student_num }}-node3

[all:vars]
ansible_user=student{{ student_num }}
ansible_ssh_private_key_file=/home/student{{ student_num }}/.ssh/id_rsa