zones:
  - name: {{ guid }}.{{ domain }}
    subnet: 10.0.0.0/8
    network: internal
    reverse_dns_base: 10.in-addr.arpa
    ttl: 3600
    records:
      NS:
{% for host in groups['dns_vsi'] %}
        - name: {{ hostvars[host]['ansible_set_hostname'] }}
          ttl: 6400
          domain: {{ guid }}.{{ domain }}
{% endfor %}
      A:
{% for host in groups['internal_workshop_vsi'] %}
        - name: {{ hostvars[host]['ansible_set_hostname'] }}
          ttl: 6400
          value: {{ hostvars[host]['ansible_internal_ip'] }}
{% endfor %}
{% if hostvars['localhost']['target_control_plane_vsis']|length>0 %}
{% for host in hostvars['localhost']['target_control_plane_vsis'] %}
        - name: {{ host.name }}
          ttl: 6400
          value: {{ host.internal_ip }}
{% endfor %}
{% endif %}
{% if hostvars['localhost']['target_infra_vsis']|length>0 %}
{% for host in hostvars['localhost']['target_infra_vsis'] %}
        - name: {{ host.name }}
          ttl: 6400
          value: {{ host.internal_ip }}
{% endfor %}
{% endif %}
{% if hostvars['localhost']['target_app_node_vsis']|length>0 %}
{% for host in hostvars['localhost']['target_app_node_vsis'] %}
        - name: {{ host.name }}
          ttl: 6400
          value: {{ host.internal_ip }}
{% endfor %}
{% endif %}
        - name: bootstrap
          ttl: 6400
          value: {{ bootstrap_node_internal_ip }}
        - name: api-int
          ttl: 6400
          value: {{ load_balancer_vsi_state }}
        - name: api
          ttl: 6400
          value: {{ load_balancer_vsi_state }}
        - name: apps
          ttl: 6400
          value: {{ load_balancer_vsi_state }}
        - name: '*.apps'
          ttl: 6400
          value: {{ load_balancer_vsi_state }}

  - name: {{ guid }}.{{ domain }}
    subnet: 0.0.0.0/0
    network: external
    ttl: 3600
    records:
      NS:
{% for host in groups['dns_vsi'] %}
        - name: {{ hostvars[host]['ansible_set_hostname'] }}
          ttl: 6400
          domain: {{ guid }}.{{ domain }}
{% endfor %}
      A:
{% for host in groups['ext_workshop_vsi'] %}
        - name: {{ hostvars[host]['ansible_set_hostname'] }}
          ttl: 6400
          value: {{ hostvars[host]['ansible_external_ip'] }}
{% endfor %}
        - name: api-int
          ttl: 6400
          value: {{ load_balancer_fip_state }}
        - name: api
          ttl: 6400
          value: {{ load_balancer_fip_state }}
        - name: apps
          ttl: 6400
          value: {{ load_balancer_fip_state }}
        - name: '*.apps'
          ttl: 6400
          value: {{ load_balancer_fip_state }}