resource "ibm_is_instance" "{{ workshop_shortcode }}_{{ guid }}_student_{{ studentNum }}_lb_vsi" {
  depends_on = [ ibm_is_security_group.{{ workshop_shortcode }}_{{ guid }}_lb_sg ]
  name    = "{{ workshop_shortcode }}-{{ guid }}-student-{{ studentNum }}-lb-vsi"
  image   = "{{ image_dict[student_vsi_image] }}"
  profile = "{{ student_vsi_lb_node_profile }}"

  primary_network_interface {
    subnet = ibm_is_subnet.{{ workshop_shortcode }}_{{ guid }}_subnet.id
    security_groups = [ibm_is_security_group.{{ workshop_shortcode }}_{{ guid }}_lb_sg.id]
  }

  vpc  = ibm_is_vpc.{{ workshop_shortcode }}_{{ guid }}_vpc.id
  zone = "{{ regional_zone }}"
  keys = [ibm_is_ssh_key.{{ workshop_shortcode }}_{{ guid }}_ssh_key.id]
  tags = [ "assetID:student-{{ studentNum }}-lb-vsi", "assetGroup:student-lb-vsi", "assetType:vsi", "guid:{{ guid }}", "workshop:{{ workshop_id }}" ]

  boot_volume {
    name = "{{ workshop_shortcode }}-{{ guid }}-student-{{ studentNum }}-lb-bootvol"
  }

  user_data = "${file("./cloud_inits/student{{ studentNum }}-k8s_lb_node.yaml")}"
}
resource "ibm_is_floating_ip" "{{ workshop_shortcode }}_{{ guid }}_student_{{ studentNum }}_lb_fip" {
  depends_on = [ ibm_is_instance.{{ workshop_shortcode }}_{{ guid }}_student_{{ studentNum }}_lb_vsi ]
  name       = "{{ workshop_shortcode }}-{{ guid }}-student-{{ studentNum }}-lb-fip"
  target     = ibm_is_instance.{{ workshop_shortcode }}_{{ guid }}_student_{{ studentNum }}_lb_vsi.primary_network_interface[0].id
  tags       = [ "assetID:student-{{ studentNum }}-lb-fip", "assetGroup:student-lb-fip", "assetType:fip", "guid:{{ guid }}", "workshop:{{ workshop_id }}" ]
}