{
  "name": "{{ workshop_shortcode }}-{{ guid }}-lb-sg",
  "rules": [
    {% if k8s_lb_tcp_port_rules is defined %}
    {% if k8s_lb_tcp_port_rules | length > 0 %}
    {% for port in k8s_lb_tcp_port_rules %}
    {
      "direction": "{{ port.direction }}",
      "ip_version": "ipv4",
      "protocol": "tcp",
      "port_min": {{ port.start }},
      "port_max": {{ port.end }},
      "remote": {
        "cidr_block": "{{ port.remote }}"
      }
    },
    {% endfor %}
    {% endif %}
    {% endif %}
    {% if k8s_lb_udp_port_rules is defined %}
    {% if k8s_lb_udp_port_rules | length > 0 %}
    {% for port in k8s_lb_udp_port_rules %}
    {
      "direction": "{{ port.direction }}",
      "ip_version": "ipv4",
      "protocol": "udp",
      "port_min": {{ port.start }},
      "port_max": {{ port.end }},
      "remote": {
        "cidr_block": "{{ port.remote }}"
      }
    },
    {% endfor %}
    {% endif %}
    {% endif %}
    {
      "direction": "outbound",
      "ip_version": "ipv4",
      "protocol": "all",
      "remote": {
        "cidr_block": "0.0.0.0/0"
      }
    }
  ],
  "vpc": {
    "id": "{{ vpc_create_output.resource.id }}"
  }
}